@model LTMS.Models.Lotteries.tblCommission

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblCommission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblShifts.ShiftDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblShifts.ShiftDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.x2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.x2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.x3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.x3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
